{% macro render_pagination(pagination) %}
  <div class="pagination">
    {% if pagination.has_prev %}
      <a href="{{ pagination.prev|url }}">&laquo; Предыдущая</a>
    {% else %}
      <span class="disabled">&laquo; Предыдущая</span>
    {% endif %}
    | {{ pagination.page }} |
    {% if pagination.has_next %}
      <a href="{{ pagination.next|url }}">Следующая &raquo;</a>
    {% else %}
      <span class="disabled">Следующая &raquo;</span>
    {% endif %}
  </div>
{% endmacro %}
