<!doctype html>
<meta charset="utf-8">
<link rel="icon" href="https://inroll.ru/favicon.png" type="image/png" />
<link rel="shortcut icon" href="https://inroll.ru/favicon.png" type="image/png" />
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}:::inroll::alaska:\\inrol.gitlab.io\i1:::{% endblock %}</title>
<body>
  <header>
    <h1>:::inroll::alaska:::</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">добро дошли!</a></li>
        {% for href, title in [
          ['/blog', 'блог'],
          ['/projects', 'список ААА'],
          ['/about', 'контакты']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2011-2022 ИП Кадочников
  </footer>
</body>
