body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
}

a {
    color: #19441b;
}

a:hover {
    color: #1d552b;
}

header, footer, div.page{
    width: auto;
    display: flex;
    flex-direction: column;
}

header{
    
    margin: auto;
    background: #9c8a54;
    color:#f1db97;
    
}

footer{
    margin: auto;
    flex: 0 0 auto;
    background: #9c8a54;
    color:#fcfa9c;
    padding: 1.5rem;
}

div.page {
    margin: auto;
    flex: 1 0 auto;
    background: #9c8a54;
    color:#0c0c0c;
    padding: 1.5rem;
}

header h1 {
    color: #1a251b;
    margin-left: 30px;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    
}

header nav ul li {
    display: inline;
    margin: 0 8px 0px 0;
    
}

div.page {
    background: #f1db97;
}
